<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Natures Soul Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 <!--banner-->
 <ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <ion-img src="https://www.naturessoulshop.com//images/banner/2_1.jpg"></ion-img>
  </ion-slide>
  <ion-slide>
    <ion-img src="https://www.naturessoulshop.com//images/banner/2_1.jpg"></ion-img>
  </ion-slide>
  <ion-slide>
    <ion-img src="https://www.naturessoulshop.com//images/banner/2_1.jpg"></ion-img>
  </ion-slide>
  <ion-slide>
    <ion-img src="https://www.naturessoulshop.com//images/banner/2_1.jpg"></ion-img>
  </ion-slide>
</ion-slides>
<h5>Slider with Space Between</h5>
<!--new in season-->
<ion-grid class="ion-padding-top">
  <ion-row>
    <ion-col size="4">
      <ion-img src="https://www.naturessoulshop.com/images/staples/1.jpg"></ion-img>
    </ion-col>
    <ion-col size="4">
      <ion-img src="https://www.naturessoulshop.com/images/staples/2.jpg"></ion-img>
    </ion-col>
    <ion-col size="4">
      <ion-img src="https://www.naturessoulshop.com/images/staples/3.jpg"></ion-img>
    </ion-col>
    <ion-col size="4">
      <ion-img src="https://www.naturessoulshop.com/images/staples/4.jpg"></ion-img>
    </ion-col>
    <ion-col size="4">
      <ion-img src="https://www.naturessoulshop.com/images/staples/5.jpg"></ion-img>
    </ion-col>
    <ion-col size="4">
      <ion-img src="https://www.naturessoulshop.com/images/staples/1.jpg"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>

<h5>Top Product</h5>
<div class="scrolling-wrapper ion-no-padding">
  <div class="card ion-no-padding" *ngFor="let product of products">
    <ion-card class="ion-no-padding ion-padding-top" style="margin-top: 10px;" [routerLink]="['./', product.id]">
      <ion-img [src]="product.image" style="height:90px; margin: auto;"></ion-img>
      <ion-card-content class="ion-text-wrap">
        <p style="color: #000; font-size: .8em;">{{ product.title }}</p>
        <h3 class="ion-padding-top">{{ product.price }} Rs</h3>
       
        
    
        
      </ion-card-content>
    </ion-card>
  </div>
 
</div>
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-img src="https://www.naturessoulshop.com//images/fruits-vegetables/1.jpg"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-img src="https://www.naturessoulshop.com//images/fruits-vegetables/2.jpg"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-img src="https://www.naturessoulshop.com//images/fruits-vegetables/3.jpg"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-img src="https://www.naturessoulshop.com//images/fruits-vegetables/4.jpg"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
