ion-slides {
    height: auto;
  }

  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
     
    }
  }

  ion-card{ height: 200px; width: 180px;}

  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }